/* Setting.css */

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f1f1f1;
  transition: left 0.3s ease;
  overflow: auto;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.sidebar.visible {
  left: 0;
}

.profile-picture-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-picture-name p {
  margin: 8px 0; /* Increase margin for better spacing */
  font-size: 14px; /* Adjust font size */
}


.picture{
          width: 100%;
          height: 100px;
          padding: 15px ;
          background-color: #FF8D76;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
}
.close-icon{
          width: 100%;
          display: flex;
          justify-content: flex-end;
}
.close-{
          color: #ffffff;

}
.close-:hover{
          cursor: pointer;
}